html {
  position: relative;
  min-height: 100%
}

body {
  margin: 0 0 70px;
}

.navbar {
    height: 90px;
}

.wrapper {
  padding: 20px;
}
.content {
  box-sizing: border-box;
}

.nav-link, button {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: white !important;
    padding-top: 0 !important;
    background-color: transparent !important;
    border: none !important;
    
}

.ms-auto {
  padding-top:10px;
}

.dropdown-menu {
  background-color: grey !important;
}

i {
    color: white !important;
    padding: 10px;
    font-size: 22px !important;
}

footer {
  padding:20px !important;
}
.navbar-brand {
    font-family: 'Courier New', Courier, monospace !important;
    letter-spacing: 3px !important;
    font-size: 36px !important;
    color: white !important;
    padding: 10px;
   
}

.navbar-brand:active {
  color: grey !important;
}

.nav-link:active {
  color: rgb(161, 199, 248) !important;

}

#navbar-right {
    float: right !important;
}

.carousel-item {
    height: 83vh;
    width: 100%;
    position: relative;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 5px;
    z-index: 100;
    
}

#overlay {
    position: absolute;
    bottom: 40px;
    left: 0px;
    opacity: .8;
}

.words-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white !important; 
    font-size: 100px !important;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    opacity: .8;
    animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.8;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.8;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.8;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.8;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#logo {
    height: 200px;
}



